* {
    margin: 0;
    padding: 0;
}

:root {
    --color-neutral: #272770;
    --color-correct: #12a325;
    --color-wrong: #cf1515;
}

header {
    display: flex;
    border: 10px;
    padding: 10px;
    margin: 0 auto;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.timer {
    display: inline-flex;
}

h2 {
    color: aliceblue;
    padding: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    color: #f4f4da;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-neutral)
}

/* button colors for correct or wrong answers */

body.correct {
    background-color: var(--color-correct)
}

body.wrong {
    background-color: var(--color-wrong)
}

.container {
    font-size: 30px;
    display: inline-block;
    background-color: #f4f4da;
    height: auto;
    width: 550px;
    max-width: 80%;
    border: 1px solid;
    padding: 10%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    margin: 20px 0;
}

.button {
    color: white;
    font-size: 24px;
    background-color: #7171c2;
    border: 2px solid #272775;
    border-radius: 5px;
    padding: 12px 24px;
}

.button:hover {
    background-color: #7b39dd;
}

.button.correct {
    background-color: var(--color-correct);
}

.button.wrong {
    background-color: var(--color-wrong);
}

.start-btn, .next-btn {
    display: flex;
    font-size: 27px;
    padding: 12px 24px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

label {
    color: #f4f4da;
}